<div >
        <!-- <app-sidebar-profile>
        </app-sidebar-profile> -->
        <!-- <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
                This is the tree node template for leaf nodes -->
                <!-- <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                  <li class="mat-tree-node"
                        [routerLink]="['transferfunds']" 
                        routerLinkActive="router-link-active">
                        Transfer Funds
                        use a disabled button to provide padding for tree leaf
                    <button mat-icon-button disabled></button>
                    
                  </li>
                </mat-tree-node>
        </mat-tree> -->

        <mat-list >
                <mat-list-item class="border"
                                        [routerLink]="['transferfunds']" 
                                        routerLinkActive="router-link-active"> 
                                        <img matListAvatar src="/assets/dbslogo.png" alt="...">

                                        Transfer Funds
                </mat-list-item>
                        <mat-list-item class="border"
                        [routerLink]="['viewstatement']" 
                        routerLinkActive="router-link-active"> 
                        <img matListAvatar src="/assets/dbslogo.png" alt="...">

                        View Account Statement
                </mat-list-item>


                <mat-tree  class="border" [dataSource]="dataSource" [treeControl]="treeControl">
                                        <!-- This is the tree node template for leaf nodes -->
                                        <mat-tree-node  *matTreeNodeDef="let node" matTreeNodePadding              
                                                [routerLink]="['/viewstatement']" 
                                                routerLinkActive="router-link-active">
                                        <!-- use a disabled button to provide padding for tree leaf -->
                                        <button mat-icon-button >
                                                <mat-icon>group</mat-icon>
                                        </button>
                                        {{node.name}}
                                        </mat-tree-node>
                                <!-- This is the tree node template for expandable nodes -->
                                <mat-tree-node  class="border" *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                                  <button mat-icon-button matTreeNodeToggle
                                          [attr.aria-label]="'toggle ' + node.name">
                                    <mat-icon >
                                      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                    </mat-icon>
                                  </button>
                                  {{node.name}}
                                </mat-tree-node>
                              </mat-tree>
                <mat-list-item class="border"
                              [routerLink]="['transferfunds']" 
                              routerLinkActive="router-link-active"> 
                              <img matListAvatar src="/assets/dbslogo.png" alt="...">
                                      Deposit
                      </mat-list-item>
                <mat-list-item class="border"
                              [routerLink]="['transferfunds']" 
                              routerLinkActive="router-link-active"> 
                              <img matListAvatar src="/assets/dbslogo.png" alt="...">
                                      Settings
                      </mat-list-item>             

<!-- 
        <a      
                aria-hidden="true"
                class="list-group-item list-group-item-action fa fa-eye pull-left" 
                [routerLink]="['/viewstatement']" 
                routerLinkActive="router-link-active">
                View Account Statement
        </a>
        
        <a class="list-group-item list-group-item-action fa fa-users pull-left">
                Accounts
        </a>


        <a class="list-group-item list-group-item-action fa fa-money pull-left">
                Deposit
        </a>
        <a class="list-group-item list-group-item-action fa fa-cog pull-left">
                Settings
        </a> -->
</mat-list>
</div>          

