<div class="card" >
        <div class="card-body">
                <h5 class="card-title">From Account</h5>
                <p>{{transaction[1].fromAccount}}</p>
                <h5 class="card-title">To Account</h5>
                <p>{{transaction[1].toAccount}}</p>
                <h5 class="card-title">Amount</h5>
                <p>{{transaction[1].amount}}</p>
                <h5 class="card-title">Remarks</h5>
                <p>{{transaction[1].remarks}}</p>  
                <h5 class="card-title">Transaction Time</h5>
                <p>{{transaction[1].transactionTime}}</p> 
                <div class="row">
                <div class="col-md-3">
                        <button class="btn btn-secondary form-control">Close</button>
                </div>
                <div class="col-md-3">
                        <button class="btn btn-secondary form-control">Confirm</button>

                </div>

                </div>              
        </div>
</div>
