<!-- As a link -->
<nav class="navbar navbar-light" >
    <div class="row">
        <div class="col-md-2">
            <button mat-raised-button (click)="drawer.toggle()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="col-md-3">
              <img class="img-fluid rounded" src="/assets/DBS_Bank_Logo.svg" alt="DBS logo">
          </div>
    </div>
    <span class="greetUser">Welcome Akash..</span>
    <div>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
          <button mat-menu-item >
            <mat-icon>voicemail</mat-icon>
            <span>Check voice mail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
          </mat-menu>
    </div>

    <!-- <i class="fa fa-bars"></i> -->
    <!-- <i class="fa fa-sign-out" aria-hidden="true"> Logout</i> -->
</nav>

<!-- <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand ">DBS</span>
    <mat-list>
        <mat-list-item class="border">
        <img matListAvatar src="/assets/LogoDBS.png" alt="...">
      </mat-list-item>
    </mat-list>
  </nav> -->