<nav class="navbar navbar-light" >
    <button mat-raised-button (click)="drawer.toggle()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <!-- <div class="row">
      <div class="col-md-2">
          <button mat-raised-button (click)="drawer.toggle()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="col-md-3">
            <img class="img-fluid rounded" src="/assets/DBS_Bank_Logo.svg" alt="DBS logo">
        </div> 
  </div>
  <span class="greetUser">Welcome Akash..</span><div class="row">
    -->
    </nav>
  <div class="row">
      <div class="col-md-2">
          <mat-drawer-container class="sidebarContainer" [hasBackdrop]="false">
              <mat-drawer #drawer [mode]="side">
                  <app-customer-sidebar></app-customer-sidebar>

              </mat-drawer>
            </mat-drawer-container>

      </div>
      <div class="col-md-8">
        <router-outlet></router-outlet>

      </div>
</div>



