<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" (ngSubmit)="handleMatFormSubmit(firstFormGroup)">
      <ng-template matStepLabel>Fund Transfer</ng-template>
      <table>

        <tbody>
          <tr>
            <td>
              <mat-form-field>
                <mat-label>Select Account</mat-label>
                <mat-select formControlName="selectedAccount" [(ngModel)]="selectedUser.selectedAccount">
                  <mat-option value='{{acc.account_Balance}}' *ngFor='let acc of accList' >{{acc.account_Id}}
                  </mat-option>

                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <div class="row">
                <div class="col-md-6">
                  <span class="alert alert-danger">Balance:</span>
                  <span *ngIf='selectedAccount.value < 5000'>Minimum amount should be 5000</span>

                  <!-- <button type="button" class="btn btn-secondary"  *ngIf='selectedAccount.dirty' (click)="balance(selectedAccount.value)"  >Balance Request</button> -->
                  <!-- <span *ngIf="!selectedAccount.dirty" class="alert alert-danger">Select Account</span> -->
                  <!-- *ngIf='!selectedAccount.dirty' -->
                </div>
                <div class="col-md-6">
                  <span class="alert alert-danger">{{selectedAccount.value}}</span>

                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="btn-group">
                <div class="btn-group dropright">
                  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Add Beneficiary Account

                  </button>
                  <div class="dropdown-menu">
                    <form class=" p-8" aria-labelledby="dropdownMenu2" [formGroup]="dropdownMenuGroup"
                      (ngSubmit)="handleDropDownMenuFormSubmit(dropdownMenuGroup)">
                      <div class="form-group">
                        <!-- <label for="BeneficaiaryAccount">Account Id</label> -->
                        <input type="text" class="form-control" id="accountId" placeholder="Account Id"
                          formControlName="dropDownMenuAcc">
                      </div>
                      <div class="form-group">
                        <!-- <label for="IFSCCode">IFSC Code</label> -->
                        <input type="text" class="form-control" id="ifscCode" placeholder="IFSC Code"
                          formControlName="dropDownMenuIFSC">
                      </div>
                      <div class="form-group">
                        <!-- <label for="Name">Name</label> -->
                        <input type="text" class="form-control" id="name" placeholder="Name"
                          formControlName="dropDownMenuName">
                      </div>
                      <button type="submit" class="btn btn-secondary" [disabled]="dropdownMenuGroup.invalid">Add
                        Account</button>
                    </form>
                  </div>
                </div>
              </div>

            </td>
            <td>
              <mat-form-field>
                <mat-label>Select User</mat-label>
                <mat-select formControlName="selectedUser" [(ngModel)]="selectedUser.selectedUser">
                  <mat-option value='{{ben.account_Id}}' *ngFor='let ben of benList'>{{ben.account_Id}}</mat-option>

                </mat-select>
              </mat-form-field>

            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <input matInput placeholder="Amount" type="number" [(ngModel)]="selectedUser.transactionAmount" class="example-right-align"
                  formControlName="transactionAmount">
                <span matPrefix>$&nbsp;</span>
                <span matSuffix>.00</span>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field hintLabel="Max 30 characters">
                <input matInput #input maxlength="30" placeholder="Remarks" formControlName="transactionRemark" [(ngModel)]="selectedUser.transactionRemark">
                <mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
              </mat-form-field>
            </td>
          </tr>

        </tbody>
      </table>




      <!-- <div class="row">
                                <div class="col-md-8">
            
                                </div>
                                <div class="col-md-2">

                                </div>

                        </div>
                        <div class="row">
                                        <div class="col-md-4">
  
                                        </div>
                                        <div class="col-md-4">
                                        </div>
                        </div>

                                <div class="row">
                                        <div class="col-md-5">

                                        </div>
                                        <div class="col-md-7">
                                          
                                        </div>
                                </div>

            <div> 
            </div>-->
      <button mat-button matStepperNext class="btn btn-secondary next" [disabled]='selectedAccount.value < 5000'>Next</button>


    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <!-- <form [formGroup]="secondFormGroup"> -->
    <ng-template matStepLabel>Confirmation</ng-template>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">From Account</div>
          <div class="col-md-6">{{selectedUser.selectedAccount}}</div>
        </div>
        <div class="row">
          <div class="col-md-6">To Account</div>
          <div class="col-md-6">{{selectedUser.selectedUser}}</div>
        </div>
        <div class="row">
          <div class="col-md-6">Transaction Time</div>
          <div class="col-md-6">{{today}}</div>
        </div>
        <div class="row">
          <div class="col-md-6">Remarks</div>
          <div class="col-md-6">{{selectedUser.transactionRemark}}</div>

        </div>
        <div class="row">
          <div class="col-md-6">Amount</div>
          <div class="col-md-6">{{selectedUser.transactionAmount}}</div>
        </div>
        <!-- <h5 class="card-title">From Account</h5>
                                <p>{{transaction[1].fromAccount}}</p>
                                <h5 class="card-title">To Account</h5>
                                <p>{{transaction[1].toAccount}}</p>
                                <h5 class="card-title">Amount</h5>
                                <p>{{transaction[1].amount}}</p>
                                <h5 class="card-title">Remarks</h5>
                                <p>{{transaction[1].remarks}}</p>  
                                <h5 class="card-title">Transaction Time</h5>
                                <p>{{transaction[1].transactionTime}}</p>  -->
        <div class="row">
          <div class="col-md-3">
            <button class="btn btn-secondary" mat-button matStepperPrevious>Back</button>
          </div>
          <div class="col-md-3">
            <button class="btn btn-secondary" mat-button matStepperNext>Confirm</button>

          </div>

        </div>
      </div>
    </div>

    <!-- <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div> -->
    <!-- </form> -->
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Transaction Status</ng-template>
    You are now done.
    <div>
      <button mat-button >Home</button>
      <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
    </div>
  </mat-step>
</mat-horizontal-stepper>