<div class="container">
    <form #formValue = "ngForm" (ngSubmit)="handleSubmit(formValue)">
        <div class="row dateSelect">
          <div class="col-md-3">

                  <mat-form-field >
                  <mat-label>Select Account</mat-label>
                  <mat-select  
                    class="form-control" 
                                        name="selectedAccount"
                                        id="selectedAccount" 
                                        ngModel 
                                        #selectedAccount="ngModel"
                    >
                        <mat-option   value='{{acc.account_Id}}' *ngFor='let acc of accList' >{{acc.account_Id}}
                        </mat-option>

                    </mat-select>
                </mat-form-field>
          </div>
   
        <div class="col-md-3">
                <mat-form-field>
                        <input matInput [matDatepicker]="picker1" placeholder="Select Starting Date" 
                        class="form-control" 
                        name="selectedStartDate"
                        id="selectedStartDate" 
                        ngModel 
                        #selectedStartDate="ngModel"
                        >
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>        
            </div>
        <div class="col-md-3">
                <mat-form-field>
                        <input matInput [matDatepicker]="picker2" placeholder="Select End Date" 
                        class="form-control" 
                        name="selectedEndDate"
                        id="selectedEndDate" 
                        ngModel 
                        #selectedEndDate="ngModel"
                        >
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>
            </div>
        <!-- <div class="col-md-2 ">
                <button class="btn btn-secondary" mat-button >Filter</button>
            </div> -->
            <div class="col-md-3">
                <button type="submit" class="btn btn-secondary" [disabled]="formValue.invalid">View
                    Account Statement</button>
                  </div>
        </div>
  </form>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
      
          <!-- transaction Column -->
          <ng-container matColumnDef="transaction_Id">
            <th mat-header-cell *matHeaderCellDef>  TransactionId</th>
            <td mat-cell *matCellDef="let element"> {{element.transaction_Id}} </td>
          </ng-container>
      
          <!-- from account Column -->
          <ng-container matColumnDef="from_Account">
            <th mat-header-cell *matHeaderCellDef> FromAccount </th>
            <td mat-cell *matCellDef="let element"> {{element.from_Account}} </td>
          </ng-container>
      
          <!-- to_account Column -->
          <ng-container matColumnDef="to_Account">
            <th mat-header-cell *matHeaderCellDef> ToAccount </th>
            <td mat-cell *matCellDef="let element"> {{element.to_Account}} </td>
          </ng-container>
          
          <!-- amount Column -->
          <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef> Amount </th>
              <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
            </ng-container>

          <!-- transaction_Time Column -->
          <ng-container matColumnDef="transaction_Time">
              <th mat-header-cell *matHeaderCellDef> TransactionTime </th>
              <td mat-cell *matCellDef="let element"> {{element.transaction_Time}} </td>
            </ng-container>
        
            
          <!-- account_Balance Column -->
          <ng-container matColumnDef="account_Balance">
              <th mat-header-cell *matHeaderCellDef>AccountBalance </th>
              <td mat-cell *matCellDef="let element"> {{element.account_Balance}} </td>
            </ng-container>
            
          <!-- status Column -->
          <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>
            
          <!-- remarks Column -->
          <ng-container matColumnDef="remarks">
              <th mat-header-cell *matHeaderCellDef> Remarks </th>
              <td mat-cell *matCellDef="let element"> {{element.remarks}} </td>
            </ng-container>
            
          <!-- flag Column -->
          <ng-container matColumnDef="flag">
              <th mat-header-cell *matHeaderCellDef> Flag </th>
              <td mat-cell *matCellDef="let element"> {{element.flag}} </td>
            </ng-container>
          <!-- Weight Column -->
          <ng-container matColumnDef="s_No">
              <th mat-header-cell *matHeaderCellDef> SerialNo </th>
              <td mat-cell *matCellDef="let element"> {{element.s_No}} </td>
            </ng-container>
      
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
      </div>
      
</div>